@import "../theming/current/waybar.css";

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* Reset all styles */
* {
    border: none;
    font-family: JetBrainsMonoNerdFont;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: @background;
    color: @foreground;
    font-size: 12px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#network {
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: red;
}

#tray {
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button.urgent {
    border-color: orange;
}

tooltip {
  padding: 2px;
}
