// https://github.com/catppuccin/rofi

* {
    bg-col:  #303446;
    bg-col-light: @bg-col;
    border-col: #626880;
    selected-col: @bg-col;
    fg-col: #c6d0f5;
    fg-col2: #8CAAEE;
    grey: #737994;
}
