@import "../../.cache/theming/css-colors.css";

@define-color warning-color @tertiary;
@define-color critical-color @error;

@keyframes blink-warning {
    from {
        /* The "Alert" state */
        background-color: @tertiary_container;
        color: @on_tertiary_container;
    }

    to {
        /* The "Neutral" state */
        background-color: @surface;
        color: @on_surface;
    }
}

@keyframes blink-critical {
    from {
        /* The "Alert" state */
        background-color: @error_container;
        color: @on_error_container;
    }

    to {
        /* The "Neutral" state */
        background-color: @surface;
        color: @on_surface;
    }
}

/* Reset all styles */
* {
    border: none;
    font-family: 'JetBrainsMono Nerd Font';
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: @surface;
    color: @on_surface_variant;
    font-size: 12px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#notification,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#idle_inhibitor.activated {
    animation-name: blink-warning;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    font-weight: bold;
}

#network {
}

#network.disconnected {
    color: @warning-color;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: @warning-color;
}

#tray {
}

#window {
    font-weight: bold;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.urgent label {
    color: @warning-color;
}

tooltip {
  padding: 2px;
}
