@import "../theming/current/waybar.css";

@define-color warning orange;
@define-color critical red;

@keyframes blink-warning {
    70% {
        color: @warning;
    }

    to {
        color: @foreground;
    }
}

@keyframes blink-critical {
    70% {
      color: @critical;
    }

    to {
        color: @foreground;
    }
}

/* Reset all styles */
* {
    border: none;
    font-family: 'JetBrainsMono Nerd Font';
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: @background;
    color: @foreground;
    font-size: 12px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#notification,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#idle_inhibitor.activated {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 1s;
}

#clock {
    font-weight: bold;
}

#network {
}

#network.disconnected {
    color: @warning;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: @critical;
}

#tray {
}

#window {
    font-weight: bold;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.urgent label {
    color: @warning;
}

tooltip {
  padding: 2px;
}
