[Unit]
Description=Extra ecosystem services for Hyprland+dms session
BindsTo=wayland-session@hyprland.desktop.target
After=wayland-session@hyprland.desktop.target
Wants=elephant.service walker.service hyprpolkitagent.service dms.service

[Install]
WantedBy=wayland-session@hyprland.desktop.target
