
[Unit]
Description=swayosd
After=graphical-session.target

[Service]
Type=simple
ExecStart=swayosd-server
Restart=on-failure

[Install]
WantedBy=graphical-session.target
